
@{
    ViewData["Title"] = "Task3";
}
<form method="post">
    <label>Введите строку</label><br />
    <input type="text" name="refstr" /><br /><br />
    <input type="submit" value="Проверить" />
</form>
