
@{
    ViewData["Title"] = "Task2";
}
<form method="post">
    <label>Первое число</label><br />
    <input type="text" name="Firstnum" /><br /><br />
    <label>Второе число:</label><br />
    <input type="text" name="Secondnum" /><br /><br />
    <input type="submit" value="Сумировать" />
</form>